* {
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: radial-gradient(
      circle at 29% 25%,
      hsla(280, 0%, 87%, 0.1) 0%,
      hsla(280, 0%, 87%, 0.1) 54%,
      transparent 54%,
      transparent 89%,
      transparent 89%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 35%,
      hsla(280, 0%, 87%, 0.1) 0%,
      hsla(280, 0%, 87%, 0.1) 2%,
      transparent 2%,
      transparent 48%,
      transparent 48%,
      transparent 100%
    ),
    radial-gradient(
      circle at 47% 56%,
      hsla(280, 0%, 87%, 0.1) 0%,
      hsla(280, 0%, 87%, 0.1) 43%,
      transparent 43%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    radial-gradient(
      circle at 48% 84%,
      hsla(280, 0%, 87%, 0.1) 0%,
      hsla(280, 0%, 87%, 0.1) 64%,
      transparent 64%,
      transparent 84%,
      transparent 84%,
      transparent 100%
    ),
    radial-gradient(
      circle at 31% 76%,
      hsla(280, 0%, 87%, 0.1) 0%,
      hsla(280, 0%, 87%, 0.1) 45%,
      transparent 45%,
      transparent 86%,
      transparent 86%,
      transparent 100%
    ),
    linear-gradient(135deg, rgb(2, 39, 217), rgb(100, 100, 207));
}
.container {
  background-color: #5f76ec;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}
.header h2 {
  margin: 0;
}
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 3px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
}
.form-control.success input {
  border-color: #2ecc7a;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc7a;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}
.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}
.form button {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: #1131e7;
  border: 2px solid #495dcf;
  color: black;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
